# Default ignored files
/shelf/
/workspace.xml

# Ignorar carpetas .idea en toda la estructura del proyecto
.idea/

# Ignorar archivos .iml en toda la estructura del proyecto
*.iml

# Ignorar carpeta out
out/

#Ignorar carpeta target
target/

#Ignorar carpeta test
test/